{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_courseflowtool/preview_import

    This template is used to render the import preview.

    @copyright  2025 Jeremie Choquette
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
    @package    local_courseflowtool
}}

<form id="import-form">
<div style="display: flex; justify-content: space-between; max-width:800px">
<button class="btn btn-primary" type="button" id="confirm-import">
    {{#str}} confirm_import, local_courseflowtool {{/str}}
</button>
</div>
<br>
<h3>{{#str}} lessons, local_courseflowtool {{/str}} </h3>
<button type="button" class="courseflow-button-minor" id="toggle-lessons">{{#str}} select_all, local_courseflowtool {{/str}}</button>
<br>
<div class="courseflow-sections">
{{#sections}}
	<h4>{{#str}} section, local_courseflowtool {{/str}}: {{title}}</h4>
	<input type='checkbox' class="lesson-checkbox" id='section_{{section_index}}' name='sections[]' value='{{section_index}}' checked />
	<label for='section_{{section_index}}'>
		{{#str}} label_overwrite, local_courseflowtool {{/str}}
	</label>
	<br>
	<div class="courseflow-lessons">
	{{#lessons}}
		<input type='checkbox' class='lesson-checkbox' id='lesson_{{id}}' name='lessons[]' value='{{id}}' checked/>
		<label for='lesson_{{id}}'>
			{{lessonname}}
        	{{#exists}}<span class="courseflow-exists-note">(already exists – will be updated)</span>{{/exists}}
		</label>
		<br>
	{{/lessons}}
	</div>
{{/sections}}
</div>
<h3>{{#str}} outcomes, local_courseflowtool {{/str}} </h3>
<button type="button" class="courseflow-button-minor" id="toggle-outcomes">{{#str}} select_all, local_courseflowtool {{/str}}</button>
<br>
<div class="courseflow-sections">
{{#outcomes}}
	<input type='checkbox' class='outcome-checkbox' id='outcome_{{id}}' name='outcomes[]' value='{{id}}' checked/>
	<label for='outcome_{{id}}'>
		{{shortname}} - {{fullname}}
        {{#exists}}<span class="courseflow-exists-note">(already exists – will be updated)</span>{{/exists}}
	</label>
	<br>
{{/outcomes}}
</div>
</form>
<br>
<a href="{{{config.wwwroot}}}/course/view.php?id={{courseid}}" class="btn btn-primary">
    {{#str}} returntocourse, local_courseflowtool {{/str}}
</a>

{{#js}}
require(['local_courseflowtool/PreviewImport'], (module) => module.init({
    sesskey:"{{sesskey}}",
    courseid:"{{courseid}}",
    error_finalize:"{{#str}} error_finalize, local_courseflowtool {{/str}}",
    error_generic:"{{#str}} error, local_courseflowtool {{/str}}",
}));
{{/js}}
